<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="layouts/main-layout :: main-fragment(~{::title},~{::#products-static-resource},
~{::#products-header},~{::#products-main-content},~{::#products-footer})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title of Products Page</title>
    <th:block id="products-static-resource">
        <link rel="stylesheet" th:href="@{/css/products.css}">
    </th:block>
</head>
<body>
    <div id="products-header">Header of Products Page</div>
    <div id="products-main-content">
        <ul>
            <li>SamSung</li>
            <li>IPhone</li>
            <li>Oppo</li>
        </ul>
    </div>
    <div id="products-footer" th:insert="fragments/app-fragments::footer('admin')"></div>
    
</body>
</html>