:root{
    --margin-padding-default: 15px;

}
.list-todo{
    margin: 0 auto;
    padding: var(--margin-padding-default);
    width: 600px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.list-todo__title{
    color: green;
    font-size: 40px;
}
.list-todo__header{
    margin-top: var(--margin-padding-default);
}
.list-todo__tasks{
    margin-top: var(--margin-padding-default);
}
.list-todo__tasks span + span{ 
    /*nghĩa là chỉ những cái thẻ span nằm sau 1 cái thẻ span mới được css*/
    margin-left: var(--margin-padding-default);
}
input{
    border: 1px solid #111;
    border-radius: 5px;
    padding: 3px;
    font-size: 16px;
}

